@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./utility.css');
@import url('./responsive.css');

:root {
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  font-display: swap;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea,
summary {
  font: inherit;
  color: inherit;
}

body {
  background-color: var(--bg-color);
}

.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.layout {
  display: flex;
  flex: 1;
  height: auto;
}

main {
  margin-left: 210px;
  width: calc(100% - 210px);
}

header {
  padding: 10px 0;
  background-color: var(--brand-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header {
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header nav {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    text-decoration: none;
  }
}

.logo {
  display: flex;
  align-items: center;
}

header .logo a {
  font-weight: 600;
  color: var(--text-color-light);
  text-decoration: none;
  font-size: 24px;
}

.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  width: 210px;
  height: 100vh;
  background-color: var(--brand-secondary);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  z-index: 1;
  flex-shrink: 0;
}


.sidebar a {
  text-decoration: none;
}

.page-wrap {
  padding: 10px 24px;
}

.page-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;

  h1 {
    color: var(--text-color);
  }
}

.quick-action-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.dashboard-content,
.brew-content,
.journal-content,
.tea-content,
.settings-content,
.account-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.dashboard-content section,
.brew-content section,
.journal-content section,
.tea-content section,
.settings-content section,
.account-content section {
  background: var(--surface-color);
  padding: 16px;
  border-radius: 8px;
  flex: 1 1 330px;

  h2 {
    font-size: 18px;
    color: var(--color);
  }
}

.page-header .subtitle {
  font-size: 13px;
  color: var(--brand-primary);
}

.subscription button {
  margin-top: 10px;
}

.subscription details {
  background-color: var(--brand-primary-light);
  margin-top: 10px;
  border-radius: 8px;
  padding: 6px 16px;
  cursor: pointer;
}

.subscription details summary {
  font-weight: bold;
}

.subscription details[open] {
  padding: 10px;
}

.subscription ul li {
  list-style-position: inside;
}

.tea-list,
.journal-list,
.brew-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.tea-item,
.journal-item,
.brew-item,
.brew-timer-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--brand-primary-light);
}

.tea-form,
.journal-form,
.settings-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  gap: 10px;

  input,
  select,
  textarea {
    width: 100%;
  }
}

.tea-actions,
.journal-actions,
.brew-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tea-details .btn,
.journal-details .btn {
  margin-top: 10px;
}

.tea-details.details-open .btn,
.journal-details.details-open .btn {
  margin-top: 0;
}

.tea-image {
  display: flex;
  align-items: center;
  gap: 16px;
  width: max-content;
  max-width: 100%;
  padding: 16px;
}

.tea-image img {
  height: 210px;
  object-fit: cover;
  border-radius: 8px;
}

.tea-details,
.journal-details {
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: gap 0.15s ease;
}

.tea-details.details-open,
.journal-details.details-open {
  gap: 10px;
}

.tea-extra,
.journal-extra {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.brew-meta {
  margin-top: 10px;
}

.brew-main-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10px;
  gap: 10px;

  label {
    flex: 1 1 100%;

    select {
      width: 100%;
    }
  }
}

.brew-timer-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.brew-timer-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gentle-sync {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 8px;
}

.login,
.signup {
  width: 100%;
  height: 100dvh;
  background: linear-gradient(235deg, var(--brand-primary) 0%, white 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  .name-row {
    display: flex;
    gap: 10px;
  }

  button {
    align-self: center;
    margin-top: 16px;
  }

  .new-account,
  .existing-account {
    align-self: center;
    margin-top: 16px;
    font-size: 13px;
    font-weight: bold;

    a {
      color: #202121;
    }
  }

  .forgot-pwd {
    align-self: center;
    font-size: 13px;
    margin-top: 16px;
    color: #202121;
    font-weight: bold;
    text-decoration: none;
  }

  .logo-login,
  .logo-signup {
    align-self: center;
    font-size: 128px;
  }

  h2 {
    margin-bottom: 16px;
    font-size: 24px;
    background-color: var(--brand-primary);
    padding: 8px 16px;
    align-self: center;
    text-align: center;
    width: 100%;
    border-radius: 8px;
  }

  label {
    display: flex;
    flex-direction: column;
  }
}

input[type="checkbox"] {
  appearance: checkbox;
}

.signup-form .checkbox-label a {
  color: #202121;
  text-decoration: underline;
}

.checkbox-label {
  display: flex;
  flex-direction: row !important;
  gap: 10px;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  justify-content: center;
}

.signup-btn {
  margin-top: 16px !important;
}

.loader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.toggle-label {
  display: none;
}

.subscription-wrap {
  display: flex;
  gap: 10px;
  flex-direction: column;

  .btn {
    width: max-content;
  }
}

.manage-account {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-footer {
  text-align: center;

  small {
    text-align: center;
  }
}

.tea-actions,
.journal-actions,
.brew-actions {
  position: sticky;
  position: -webkit-sticky;
  bottom: 16px;
}

@supports (position: -webkit-sticky) {

  .tea-actions,
  .journal-actions,
  .brew-actions {
    position: -webkit-sticky;
  }
}

.more-links {
  width: 100%;
  position: absolute;
  top: -200px;
  background-color: var(--brand-secondary);
  padding: 10px;
  display: flex;
  right: 0;
  flex-direction: column;
  gap: 10px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: all .15s ease-in-out;

  .btn-sidebar {
    height: 56px;
  }
}