@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./utility.css');

:root {
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brand-primary: #bdb695;
  --brand-primary-light: #bdb6958e;
  --brand-secondary: #898565;
  --brand-secondary-light: #8985658e;
  --success-color: #24be33;
  --danger-color: #ed1244;
  --info-color: #3239ff;
  --dark-color: #202121;
  --text-color-light: rgba(255, 255, 255, 0.88);
  --text-color: rgba(0, 0, 0, 0.88);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea,
summary {
  font: inherit;
  color: inherit;
}

.app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex: 1;
  height: auto;
}

main {
  width: 100%;
}

.main-header {
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header {
  padding: 10px 0;
  background-color: var(--brand-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

header nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo a {
  font-weight: 600;
  color: var(--text-color-light);
  text-decoration: none;
  font-size: 24px;
}

.sidebar {
  width: max-content;
  background-color: var(--brand-secondary);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  height: 100%;
  width: 210px;
}

.sidebar a {
  text-decoration: none;
}

.page-wrap {
  padding: 10px 24px;
}

.page-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.quick-action-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.dashboard-content,
.brew-content,
.journal-content,
.tea-content,
.settings-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}

.dashboard-content section,
.brew-content section,
.journal-content section,
.tea-content section,
.settings-content section {
  background: #f9f7f3;
  padding: 16px;
  border-radius: 8px;
  flex: 1 1 330px;

  h2 {
    font-size: 18px;
  }
}

.page-header .subtitle {
  font-size: 13px;
  color: #666;
}

.subscription button {
  margin-top: 10px;
}

.subscription details {
  background-color: var(--brand-primary-light);
  margin-top: 10px;
  border-radius: 8px;
  padding: 6px 16px;
  cursor: pointer;
}

.subscription details summary {
  font-weight: bold;
}

.subscription details[open] {
  padding: 10px;
}

.subscription ul li {
  list-style-position: inside;
}

.tea-list,
.journal-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.tea-item,
.journal-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--brand-primary-light);
}

.tea-form,
.journal-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  gap: 10px;

  input, select, textarea {
    width: 100%;
  }
}

.tea-actions,
.journal-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tea-details .btn,
.journal-details .btn {
  margin-top: 10px;
}

.tea-details.details-open .btn,
.journal-details.details-open .btn {
  margin-top: 0;
}

.tea-image {
  width: 210px;
  height: 210px;
  padding: 16px;
}

.tea-image img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.tea-details,
.journal-details {
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: gap 0.15s ease;
}

.tea-details.details-open,
.journal-details.details-open {
  gap: 10px;
}

.tea-extra,
.journal-extra {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-wrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}