@media(max-width: 860px) {
    .signup-form .name-row {
        flex-direction: column;
    }

    .app {
        height: max-content !important;
    }

    header.main-header {
        padding: 20px 10px;
    }

    .btn-sidebar {
        padding: 4px 8px;
    }

    .main-header .logo {
        justify-content: space-between;
        width: 100%;
        padding: 0 14px;
    }

    header nav {
        display: none !important;
    }

    .main-header nav a {
        display: none;
    }

    .logout-btn {
        display: none;
    }

    .sidebar {
        flex-direction: row !important;
        height: auto !important;
        width: 100% !important;
        top: auto !important;
        bottom: 0px !important;
        justify-content: center;

        a {
            align-items: center !important;
            text-align: center;
            font-size: 16px;
        }
    }

    main {
        margin-left: 0 !important;
    }

    .sidebar-footer {
        display: none;
    }

    .filter-wrap {
        flex-direction: column;
        align-items: start !important;
    }

    .main-header {
        justify-content: center;
    }

    .filter-wrap .filter-label {
        align-items: start !important;
        flex-direction: column;
        gap: 5px;
    }

    .page-wrap {
        margin-bottom: 80px;
    }

    .new-tea,
    .new-preset,
    .new-journal {
        order: 1;
    }

    .tea-table,
    .new-session,
    .journal-table {
        order: 2;
    }

    .recent-sessions {
        order: 3;
    }

    .edit-panel,
    .new-tea {
        width: 100%;
    }

    .tea-actions,
    .journal-actions,
    .brew-actions {
        position: sticky;
        bottom: 90px !important;
    }

    @supports (position: -webkit-sticky) {

        .tea-actions,
        .journal-actions,
        .brew-actions {
            position: -webkit-sticky;
        }
    }

    .filter-wrap.hidden {
        display: none;
    }

    .filter-wrap.visible {
        display: flex;
    }

    .tea-filters,
    .brew-filters,
    .journal-filters {
        position: sticky;
        top: 85px;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0) !important;
        backdrop-filter: blur(16px);
        box-shadow: var(--shadow-container);
    }

    .toggle-label {
        display: block !important;
        font-size: 16px;
        color: var(--brand-secondary-light);
        cursor: pointer;
    }

    .tea-filters h2,
    .brew-filters h2,
    .journal-filters h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tea-list .tea-item,
    .journal-list .journal-item,
    .brew-list .brew-item.preset {
        flex-direction: column-reverse;
    }
}