input,
textarea {
    padding: 8px 16px;
}

select {
    padding: 8px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 16px;
    border: none;
    outline: 0;
    border-radius: 8px;
    transition: all .15s ease-in-out;
    cursor: pointer;
    color: #fff;
}

.btn-action {
    background-color: var(--brand-secondary-light);
}

.btn-sidebar {
    background-color: var(--brand-primary-light);
}

.btn-quick {
    background-color: var(--success-color);
}

.btn-danger {
    background-color: var(--danger-color);
}

.btn-info {
    background-color: var(--info-color);
}

.btn-dark {
    background-color: var(--dark-color);
}

.btn-simple {
    padding: 0;
    background-color: transparent;
    color: var(--dark-color);
    font-weight: bold;
}

.disabled {
    filter: blur(2px) grayscale(100%);
    cursor: not-allowed;
}

.modal-overlay {
    padding: 16px;
    border-radius: 8px;
    background: #f9f7f3;

    h2 {
        font-size: 18px;
    }
}

.edit-modal {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    gap: 10px;
}