input,
textarea {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--bg-color);
    color: var(--text-color) !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--brand-primary);
}

input,
select {
    min-width: 0;
}

ul li:last-of-type {
    margin-bottom: 16px;
}

textarea {
    min-height: 150px;
}

select {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--bg-color);
    color: var(--text-color) !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid var(--brand-primary);
    min-width: 180px;
}

label {
    display: block;
    width: 100%;
    color: var(--text-color);
}

section {
    color: var(--text-color);
}

.select-wrap {
    position: relative;
}

.arr-down {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #a9a9a9;
    transform: translateY(-50%);
}

::placeholder {
    color: var(--placeholder-color) !important;
}

small {
    color: var(--brand-primary);
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 16px;
    border: none;
    outline: 0;
    border-radius: 8px;
    transition: all .15s ease-in-out;
    cursor: pointer;
    color: var(--btn-color);

    &:active {
        scale: 0.95;
    }
}

.btn-sync {
    padding: 4px 8px;
}

.btn-action {
    background-color: var(--brand-secondary-light);
}

.btn-sidebar {
    background-color: var(--brand-primary-light);
}

.btn-quick {
    background-color: var(--success-color);
}

.btn-danger {
    background-color: var(--danger-color);
}

.btn-info {
    background-color: var(--info-color);
}

.btn-dark {
    background-color: var(--dark-color);
}

.btn-simple {
    padding: 0;
    background-color: transparent;
    color: var(--text-color);
    font-weight: bold;
}

.disabled {
    filter: blur(1px) grayscale(100%);
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

.modal-overlay {
    padding: 16px;
    border-radius: 8px;
    background: var(--surface-color);

    h2 {
        font-size: 18px;
    }
}

.edit-modal {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    gap: 10px;
}

.format-toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.markdown-body {
    font-size: 16px;
    word-break: break-word;
    padding: 16px;
}

.markdown-body ul,
.markdown-body ol {
    margin: 10px 0 10px 16px;
    padding: 0;
}

.markdown-body li {
    margin-bottom: 4px;
    list-style-position: inside;
}

.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
    margin: 10px 0 8px 0;
}

.markdown-body p {
    margin: 10px 0 8px 0;
}

.markdown-body strong {
    font-weight: bold;
}

.markdown-body em {
    font-style: italic;
}

.tea-tag {
    margin-left: 8px;
    padding: 2px 8px;
    border-radius: 8px;
    font-size: 13px;
    text-transform: capitalize;
    display: inline-block;
}

.tea-tag-generic,
.tea-tag-undefined,
.tea-tag-any {
    background: #ccc !important;
    color: #474747 !important;
}

.tea-tag-green {
    background: #dbffd2 !important;
    color: #27622a !important;
}

.tea-tag-oolong {
    background: #ffeccc !important;
    color: #7c5c2e !important;
}

.tea-tag-red {
    background: #ffd6db !important;
    color: #a52d44 !important;
}

.tea-tag-white {
    background: #fff !important;
    color: #474747 !important;
}

.tea-tag-yellow {
    background: #fffaa6 !important;
    color: #907e00 !important;
}

.tea-tag-puerh {
    background: #e7dbbd !important;
    color: #6b4b26 !important;
}

.tea-tag-purple {
    background: #f1e4ff !important;
    color: #673988 !important;
}

.tea-tag {
    vertical-align: bottom;
}

.brew-finished-badge {
    padding: 2px 8px;
    font-size: 13px;
    vertical-align: bottom;
    display: inline-block;
    border-radius: 8px;
    text-transform: capitalize;
    background: #dbffd2 !important;
    color: #27622a !important;
    margin-left: 8px;
}

.req {
    color: var(--danger-color);
}

.basic-label {
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 8px;
    font-size: 13px;
    color: var(--text-color);
}

.filter-label {
    display: flex;
    align-items: center;
    max-width: max-content;
}

.msg {
    width: 100%;
    text-align: left;
    margin-bottom: 12px;

    &:first-letter {
        text-transform: capitalize;
    }
}

.msg.error {
    color: var(--danger-color);
    border-left: 8px solid var(--danger-color);
    padding-left: 8px;
}

.msg.success {
    color: var(--success-color);
    border-left: 8px solid var(--success-color);
    padding-left: 8px;
}

.trial-badge {
    border: 1px solid var(--brand-secondary);
    padding: 4px 12px;
    border-radius: 22px;
    background-color: white;
    color: var(--brand-secondary);
    margin-left: 32px;
    font-size: 13px;
}

.sub-status {
    font-weight: bold;
}

.btn-subscribe {
    background-color: var(--success-color);
}

.hide-desktop {
    display: none;
}

@media(max-width: 860px) {
    .hide-mobile {
        display: none;
    }

    .hide-desktop {
        display: block;
    }
}

.synced-at {
    color: var(--brand-primary);
}